name: "Tests"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  # unit tests
  jest:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - run: npm ci
    - run: npm test

  success:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
      with:
        node-version: '20'
    - run: npm install
    - uses: ./
      with:
        run: |
          PORT=1212 node test/server.js &
          PORT=2121 node test/server.js &
          PORT=3232 node test/server.js &
        wait-on: |
          http://localhost:1212/bar
          tcp:localhost:1212
          http://localhost:2121/bar
          tcp:localhost:2121
          http://localhost:3232/bar
          tcp:localhost:3232
        log-output-resume: stderr
        tail: true
        wait-for: 5m
        log-output: stderr,stdout
    - run: sleep 30 # allow stderr to get output in the background
